<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/public.css">
    <link rel="stylesheet" href="/css/pc/sinaFaceAndEffec.css">
    <link rel="stylesheet" href="/css/pace-theme-minimal.css">
    <link rel="stylesheet" href="/css/pc/header_footer.css">
    <link rel="stylesheet" href="/css/pc/photoswipe.css">
    <link rel="stylesheet" href="/css/pc/default-skin.css">
    <link rel="stylesheet" href="/css/pc/albumList.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <title><%= Title %>-落雨如画博客</title>
</head>
<body>
<!--header-->
<% include ./header.ejs %>
<div style="height: 70px;background: transparent;"></div>
<!--content-->
<div class="content">
    <div class="content_con">
        <div class="photo_num"><%= Title %>（<b><%= imgNum %></b>）</div>
        <div class="photo_list">
            <% if(Datas.length == 0){ %>
            <img src="/img/pc/404.png" alt="">
            <% }else{ %>
            <% Datas.forEach(function (item, index) { %>
            <div class="photo_item">
                <a href="javascript:void(0);" target="_blank"><img
                            src="<%= item.imgMsg.url %>" onclick="previewImg('<%= index %>')" alt="<%= item.title %>"
                            title="<%= item.title %>"></a>
                <p><%= item.imgMsg.name %></p>
                <ul>
                    <li class="left"><%= item.createTime %></li>
                </ul>
            </div>
            <% }) %>
            <% } %>
        </div>
        <!--paging 分页-->
        <% include ./paging.ejs %>
        <!--评论-->
        <div class="reply_title" id="comment">
            <span class="left">共有<b><%= replyNum %></b>条评论</span>
            <a href="javascript:void(0);" class="right" onclick="replyComment(null,null,null);">发布评论</a>
        </div>
        <div class="reply_list">
            <ul></ul>
        </div>
        <div class="comment_wrap">
            <div class="comment">
                <div class="content">
                    <div class="cont-box">
                        <textarea class="text" placeholder="请输入 . . ." maxlength="2000" required=""></textarea>
                    </div>
                    <div class="tools-box">
                        <div class="operator-box-btn"><span class="face-icon">☺</span><span
                                    class="img-icon">▧</span></div>

                        <% if(locals.username){ %>
                        <div class="submit-btn"><input type="button" onclick="submitComment()"
                                                       value="提交评论">
                        </div>
                        <% }else { %>
                        <div class="submit-btn"><input type="button" value="登录"
                                                       onclick="window.location.href='/login'"></div>
                        <% } %>

                    </div>
                </div>
                <div class="contents"></div>
            </div>
        </div>
    </div>
</div>
<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>
<% include ./footer.ejs %>
</body>
<script type="text/javascript" src="/js/pace.min.js"></script>
<script src="/js/pc/comment.js"></script>
<script src="/js/pc/sinaFaceAndEffec.js"></script>
<script src="/js/moment.js"></script>
<script src="/js/pc/photoswipe.min.js"></script>
<script src="/js/pc/photoswipe-ui-default.min.js"></script>
<script type="text/javascript" src="/js/pc/listening.js"></script>
<script type="text/javascript">
    var page = 1;
    var parentReviewer = '';
    // bind face
    $('.face-icon').SinaEmotion($('.text'));

    // 测试本地解析
    var replyItemId = null;
    var replyfromId = null;
    window.onload = function () {
        loadComment();
    }

    function replyComment(commentId, fromId, userName) {
        replyItemId = commentId;
        replyfromId = fromId;
        <% if(locals.username){ %>
        $('.text').focus();
        if (userName && userName != $('.login_suc a span').text()) {
            $('.text').attr('placeholder', '回复@' + userName);
        } else {
            $('.text').val('').attr('placeholder', '请输入 . . .');
        }
        <% }else{ %>
        window.location.href = '/login';
        <% } %>
    }

    function submitComment() {
        var inputText = unhtml($('.text').val());
        if (jQuery.trim(inputText).length < 10) {
            alert('骚年，多写点吧！');
        } else {
            $.ajax({
                url: '/addComment?Status=2',
                type: 'POST',
                data: {
                    articleId: '<%= Id %>',
                    replyId: replyItemId,
                    fromReviewerId: replyfromId,
                    content: inputText
                },
                success: function (data) {
                    replyItemId = null;
                    replyfromId = null;
                    $('.text').val('').attr('placeholder', '请输入 . . .');
                    loadComment();
                },
                error: function (err) {
                    console.log(err)
                }
            });
        }
    }

    function loadComment() {
        $.ajax({
            url: '/getComment?Status=2',
            type: 'GET',
            data: {
                id: '<%= Id %>',
                page: page
            },
            success: function (data) {
                var str = '';
                var Data = data.Data;
                if (Data) {
                    Data.forEach(function (item, index) {
                        if (item.replyData.length == 1) {
                            var newStr = '<p>' + AnalyticEmotion(item.replyData[0].content) + '</p>';
                            str += '<li>' +
                                '    <span></span>' +
                                '    <div class="left user_circle_img"><a href="javascript:void(0);"><img' +
                                '                    src="' + item.userData.userImg + '" alt=""></a></div>' +
                                '    <div class="right reply_con">' +
                                '        <div class="reply_user">' +
                                '            <span title="@' + item.userData.name + '" onclick="replyComment(' + "'" + item._id + "'" + ',' + "'" + item.userData._id + "'" + ',' + "'" + item.userData.name + "'" + ')">' + item.userData.name + '</span>' +
                                '            <span>' + moment(item.replyData[0].createTime).format("YYYY-MM-DD HH:mm:ss") + '</span>' +
                                '            <i>' + (Data.length - index) + 'F</i>' +
                                '        </div>' +
                                '        <div class="comment_con">' + newStr + '</div>' +
                                '    </div>' +
                                '</li>';
                        } else {
                            var strItem = '';
                            for (var i = 1; i < item.replyData.length; i++) {
                                strItem += '<li>' +
                                    '    <span></span>' +
                                    '    <div class="left user_circle_img"><a href="javascript:void(0);"><img' +
                                    '                    src="' + item.replyData[i].to.userImg + '" alt=""></a>' +
                                    '    </div>' +
                                    '    <div class="right reply_con">' +
                                    '        <div class="reply_user">' +
                                    '            <span title="@' + item.replyData[i].to.name + '" onclick="replyComment(' + "'" + item._id + "'" + ',' + "'" + item.replyData[i].to._id + "'" + ',' + "'" + item.replyData[i].to.name + "'" + ')">' + item.replyData[i].to.name + '</span>' +
                                    '            <span>' + moment(item.replyData[i].createTime).format("YYYY-MM-DD HH:mm:ss") + '</span>' +
                                    '             <span>回复</span>' +
                                    '             <span title="@' + item.replyData[i].from.name + '" onclick="replyComment(' + "'" + item._id + "'" + ',' + "'" + item.replyData[i].from._id + "'" + ',' + "'" + item.replyData[i].from.name + "'" + ')">@' + item.replyData[i].from.name + '</span>' +
                                    '         </div>' +
                                    '         <div class="comment_con">' +
                                    '             <p>' + AnalyticEmotion(item.replyData[i].content) + '</p>' +
                                    '         </div>' +
                                    '     </div>' +
                                    ' </li>';
                            }
                            str += '<li>' +
                                '    <span></span>' +
                                '    <div class="left user_circle_img"><a href="javascript:void(0);"><img' +
                                '                    src="' + item.userData.userImg + '" alt=""></a></div>' +
                                '    <div class="right reply_con">' +
                                '        <div class="reply_user">' +
                                '            <span title="@' + item.userData.name + '" onclick="replyComment(' + "'" + item._id + "'" + ',' + "'" + item.userData._id + "'" + ',' + "'" + item.userData.name + "'" + ')">' + item.userData.name + '</span>' +
                                '            <span>' + moment(item.replyData[0].createTime).format("YYYY-MM-DD HH:mm:ss") + '</span>' +
                                '            <i>' + (Data.length - index) + 'F</i>' +
                                '        </div>' +
                                '        <div class="comment_con">' +
                                '            <p>' + AnalyticEmotion(item.replyData[0].content) + '</p>' +
                                '        </div>' +
                                '        <ul>' + strItem + '</ul>' +
                                '    </div>' +
                                '</li>';
                        }
                    });
                    $('.reply_list ul').html(str);
                }
            },
            error: function (err) {
                console.log(err)
            }
        });
    }

    function previewImg(index) {
        var pswpElement = document.querySelectorAll('.pswp')[0];
        var options = {
            maxSpreadZoom: 3,
            history: false,
            focus: false,
            shareButtons: [],
            showAnimationDuration: 0,
            hideAnimationDuration: 0,
            index: parseInt(index) // start at first slide
        };
        var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, isImages($('.photo_list img')), options);
        gallery.init();
    }
</script>
</html>