<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/public.css">
    <link rel="stylesheet" href="/css/pace-theme-minimal.css">
    <link rel="stylesheet" href="/css/swiper.min.css">
    <link rel="stylesheet" href="/css/pc/header_footer.css">
    <link rel="stylesheet" href="/css/pc/sidebar.css">
    <link rel="stylesheet" href="/css/pc/index.css">
    <title>落雨如画博客-临渊羡鱼，不如退而结网！</title>
</head>
<body>
<!--header-->
<% include ./header.ejs %>
<div style="height: 70px;background: transparent;"></div>
<!--content-->
<div class="content">
    <div class="content_con">
        <div class="con_left left">
            <!--move images-->
            <div class="swiper-container index_swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="javascript:void(0);"><img src="/img/pc/slide1.jpg" alt=""></a>
                        <div class="swiper_des">12345646</div>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0);"><img src="/img/pc/slide2.jpg" alt=""></a>
                        <div class="swiper_des">12345646</div>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0);"><img src="/img/pc/slide3.jpg" alt=""></a>
                        <div class="swiper_des">12345646</div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
            <!--notes list-->
            <div class="notes">
                <% Datas.forEach((item, index)=>{ %>
                <div class="notes_item">
                    <div class="thumb_img left"><img src="<%= item.thumbImg %>" alt=""></div>
                    <div class="notes_con right">
                        <a href="/notes/<%= item.id %>" target="_blank">
                            <b><%= item.title %></b>
                            <p><%= item.description %></p>
                        </a>
                        <div class="tags">
                            <span class="create_time left"><%= item.createTime %></span>
                            <span class="author_icon left" title="作者"><%= item.author.name %></span>
                            <span class="page_view left" title="浏览">(<a
                                        href="javascript:void(0)"><%= item.pageView %></a>)</span>
                            <span class="reply_num left" title="评论">(<a href="javascript:void(0)"><span
                                            style="padding-left: 0px;margin-right: 0px;"><%= item.replyData %></span></a>)</span>
                            <span class="lm right"><a href="javascript:void(0)"><%= item.category %></a></span>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
            <div></div>
        </div>
        <!--sidebar-->
        <% include ./sidebar.ejs %>
    </div>
</div>
<% include ./footer.ejs %>
</body>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/swiper.min.js"></script>
<script type="text/javascript" src="/js/pace.min.js"></script>
<script type="text/javascript" src="/js/pc/listening.js"></script>
<script type="text/javascript">
    var mySwiper = new Swiper('.index_swiper', {
        autoplay: 5000,
        autoplayDisableOnInteraction: false,
        pagination: '.swiper-pagination',
        paginationType: 'progress',
        loop: true,
        prevButton: '.swiper-button-prev',
        nextButton: '.swiper-button-next',
    });
</script>
</html>