<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/pc/sinaFaceAndEffec.css">
    <link rel="stylesheet" href="/css/public.css">
    <link rel="stylesheet" href="/css/pace-theme-minimal.css">
    <link rel="stylesheet" href="/css/pc/header_footer.css">
    <link rel="stylesheet" href="/css/pc/sidebar.css">
    <link rel="stylesheet" href="/css/prism.css">
    <link rel="stylesheet" href="/css/pc/noteDetail.css">
    <title><%= Data.title %></title>
</head>
<body>
<!--header-->
<% include ./header.ejs %>
<div style="height: 70px;background: transparent;"></div>
<!--content-->
<div class="content">
    <div class="content_con">
        <!--left content-->
        <div class="con_left left">
            <div class="con_left_wrap">
                <div class="notes_title">
                    <h1><%= Data.title %></h1>
                    <ul>
                        <li><span>作者：</span><a href="javascript:void(0);"><%= Data.author.name %></a></li>
                        <li><span>时间：<%= Data.createTime %></span></li>
                        <li><span>浏览：<%= Data.pageView %>次</span></li>
                        <li><span>评论：</span><a href="javascript:void(0);"><%= Data.replyData %></a></li>
                    </ul>
                </div>
                <div class="notes_des"><%= Data.description %></div>
                <div class="notes_con">
                    <div style="padding: 200px 0;text-align: center;"><img src="/img/pc/loading.gif" alt=""><br><span>加载中. . . </span>
                    </div>
                </div>
                <% if(Data.tag.length > 0){ %>
                <div class="detail_tag_list">
                    <% Data.tag.forEach(function (item, index) { %>
                    <a href="/notes?search=<%= item %>"><%= item %></a>
                    <% }) %>
                </div>
                <% } %>
            </div>
            <ul class="up_next">
                <% if(preData.length > 0){ %>
                <li><span>上一篇：</span><a href="/notes/<%= preData[0]._id %>"><%= preData[0].title %></a></li>
                <% }else{ %>
                <li><span>上一篇：</span><a href="javascript:void(0);" style="color: #759b08;">没有了</a></li>
                <% } %>
                <% if(nextData.length > 0){ %>
                <li><span>下一篇：</span><a href="/notes/<%= nextData[0]._id %>"><%= nextData[0].title %></a></li>
                <% }else{ %>
                <li><span>下一篇：</span><a href="javascript:void(0);" style="color: #759b08;">没有了</a></li>
                <% } %>
            </ul>
            <% if(likesData.length > 0){ %>
            <div class="likes">
                <p>猜你喜欢</p>
                <div class="likes_con">
                    <% likesData.forEach(function (item, index) { %>
                    <a href="/notes/<%= item._id %>" target="_blank">
                        <div><img src="<%= item.thumbImg %>" alt=""></div>
                        <span><%= item.title %></span>
                    </a>
                    <% }) %>
                </div>
            </div>
            <% } %>
            <div class="reply_title">
                <span class="left">共有<b><%= Data.replyData %></b>条评论</span>
                <a href="javascript:void(0);" class="right">发布评论</a>
            </div>
            <div class="reply_list">
                <ul>
                    <li>
                        <span></span>
                        <div class="left user_circle_img"><a href="javascript:void(0);"><img
                                        src="https://yezipi.net/style/images/Portrait/40.jpg" alt=""></a></div>
                        <div class="right reply_con">
                            <div class="reply_user">
                                <span onclick="replyComment('123');">落雨如画</span>
                                <span>2018/2/12</span>
                            </div>
                            <div class="comment_con">
                                <p>
                                    曾在海信智能商用实习并成功入职成为软件工程师的哈工大毕业生讲到，“实习最大的收获就是能提前进入真实的工作环境，将在学校所学知识运用到实践中去”。他认为校企合作是一种双赢甚至多赢的模式。对于企业而言，可得到高校的技术和人才支持；对于高校而言，可更好的实现科研成果转化，将知识转化为生产力；而对于学生而言，企业项目的参与，则是个人历练和未来职业发展的有效助力。</p>
                            </div>
                            <ul>
                                <li>
                                    <span></span>
                                    <div class="left user_circle_img"><a href="javascript:void(0);"><img
                                                    src="https://yezipi.net/style/images/Portrait/40.jpg" alt=""></a>
                                    </div>
                                    <div class="right reply_con">
                                        <div class="reply_user">
                                            <span>落雨如画</span>
                                            <span>2018/2/12</span>
                                            <span>回复</span>
                                            <span>@周宏宇</span>
                                        </div>
                                        <div class="comment_con">
                                            <p>
                                                而言，企业项目的参与，则是个人历练和未来职业发展的有效助力。</p>
                                        </div>

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <span></span>
                        <div class="left user_circle_img"><a href="javascript:void(0);"><img
                                        src="https://yezipi.net/style/images/Portrait/40.jpg" alt=""></a></div>
                        <div class="right reply_con">
                            <div class="reply_user">
                                <span>落雨如画</span>
                                <span>2018/2/12</span>
                            </div>
                            <div class="comment_con">
                                <p>
                                    于企业而言，可得到高校的技术和人才支持；对于高校而言，可更好的实现科研成果转化，将知识转化为生产力；而对于学生而言，企业项目的参与，则是个人历练和未来职业发展的有效助力。</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="comment_wrap">
                <div class="comment">
                    <div class="content">
                        <div class="cont-box">
                            <textarea class="text" placeholder="请输入 . . ." maxlength="2000" required></textarea>
                        </div>
                        <div class="tools-box">
                            <div class="operator-box-btn"><span class="face-icon">☺</span><span
                                        class="img-icon">▧</span></div>
                            <% if(locals.username){ %>
                            <div class="submit-btn"><input type="button" onclick="replyComment('null')" value="提交评论">
                            </div>
                            <% }else { %>
                            <div class="submit-btn"><input type="button" value="登录"
                                                           onclick="window.location.href='/login'"></div>
                            <% } %>
                        </div>
                    </div>
                    <div class="contents"></div>
                </div>
            </div>
        </div>
        <!--sidebar-->
        <% include ./sidebar.ejs %>
    </div>
</div>
<% include ./footer.ejs %>
</body>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/pace.min.js"></script>
<script type="text/javascript" src="/js/prism.js"></script>
<script src="/js/clipboard.min.js"></script>
<script src="/js/pc/comment.js"></script>
<script src="/js/pc/sinaFaceAndEffec.js"></script>
<script src="/js/moment.js"></script>
<script type="text/javascript" src="/js/pc/listening.js"></script>
<script type="text/javascript">
    var page = 1;
    var notesCon = '<%- content %>';
    var result = notesCon.substring(1, notesCon.length - 1);
    insertCodeElement(result, '.con_left .notes_con')

    function insertCodeElement(content, container) {
        container = container || document;
        var parent = document.createElement('div');
        parent.innerHTML = content;

        var $pres = $(parent).find('pre');
        $pres.each(function (index, el) {
            var $el = $(el),
                html = $el.html(),
                code = document.createElement('code'),
                elClass = $el.attr('class'),
                // Gets all the programming languages in the pre tag, in the class attribute
                language = elClass.substring(6, elClass.indexOf(';'));
            code.className = 'language-' + language;
            code.innerHTML = html;
            $el.html(code);
            $el.addClass("line-numbers");
        });

        $(container).html(parent.innerHTML);
        // Use prism for code highlighting
        Prism.highlightAll();
        $('.code-toolbar').append('<span class="copy_code">复制</span>'); // Add copy function
    }

    $('.code-toolbar .copy_code').click(function () {
        var _this = this;
        var clipboard = new ClipboardJS('.copy_code', {
            target: function () {
                return _this.parentElement.querySelector('code'); // Copy element text
            }
        });

        clipboard.on('success', function (e) {
            $(_this).text('复制成功');
            //Tip: this is a pit. You need to manually destroy the current clipboard. Otherwise, two events will be triggered
            clipboard.destroy();
            setTimeout(function () {
                $(_this).text('复制');
            }, 6000)
        });

        clipboard.on('error', function (e) {
            console.log(e);
            clipboard.destroy();
        });
    });
    // comment
    // bind face
    $('.face-icon').SinaEmotion($('.text'));

    // 测试本地解析
    function replyComment(val) {
        var inputText = $('.text').val();
        $.ajax({
            url: '/addComment',
            type: 'POST',
            data: {
                articleId: '<%= Data.id %>',
                content: inputText,
                replyId: '',
                replyContent: ''
            },
            success: function (data) {
                var test = AnalyticEmotion(data.Data.content);
                console.log(test)
                var str = '';
                [10, 100, 20, 25, 30].forEach(function (item, index) {
                    str += '<p>' + test + '</p>';
                })
                $('.contents').html(str);
            },
            error: function (err) {
                console.log(err)
            }
        });


    }

    window.onload = function () {
        $.ajax({
            url: '/getComment',
            type: 'GET',
            data: {
                id: '<%= Data.id %>',
                page: page
            },
            success: function (data) {
                var str = '';
                var Data = data.Data;
                Data.forEach(function (item, indx) {
                    if (item.replyData.length > 0) {
                        var strItem = '';
                        for (var i = 0; i < item.replyData.length; i++) {
                            strItem += '<li>' +
                                '                                    <span></span>' +
                                '                                    <div class="left user_circle_img"><a href="javascript:void(0);"><img' +
                                '                                                    src="https://yezipi.net/style/images/Portrait/40.jpg" alt=""></a>' +
                                '                                    </div>' +
                                '                                    <div class="right reply_con">' +
                                '                                        <div class="reply_user">' +
                                '                                            <span>落雨如画</span>' +
                                '                                            <span>2018/2/12</span>' +
                                '                                            <span>回复</span>' +
                                '                                            <span>@周宏宇</span>' +
                                '                                        </div>' +
                                '                                        <div class="comment_con">' +
                                '                                            <p>' +
                                '                                                而言，企业项目的参与，则是个人历练和未来职业发展的有效助力。</p>' +
                                '                                        </div>' +
                                '\n' +
                                '                                    </div>' +
                                '                                </li>';
                        }
                        str += '<li>' +
                            '                        <span></span>' +
                            '                        <div class="left user_circle_img"><a href="javascript:void(0);"><img' +
                            '                                        src="https://yezipi.net/style/images/Portrait/40.jpg" alt=""></a></div>' +
                            '                        <div class="right reply_con">' +
                            '                            <div class="reply_user">' +
                            '                                <span onclick="replyComment(\'123\');">落雨如画</span>' +
                            '                                <span>2018/2/12</span>' +
                            '                            </div>' +
                            '                            <div class="comment_con">' +
                            '                                <p>' +
                            '                                    曾在海信智能商用实习并成功入职成为软件工程师的哈工大毕业生讲到，“实习最大的收获就是能提前进入真实的工作环境，将在学校所学知识运用到实践中去”。他认为校企合作是一种双赢甚至多赢的模式。对于企业而言，可得到高校的技术和人才支持；对于高校而言，可更好的实现科研成果转化，将知识转化为生产力；而对于学生而言，企业项目的参与，则是个人历练和未来职业发展的有效助力。</p>\n' +
                            '                            </div>' +
                            '                            <ul>' +
                            '
                        '                            </ul>' +
                        '                        </div>' +
                        '                    </li>'
                    } else {
                        var newStr = '<p>' + AnalyticEmotion(item.content) + '</p>';
                        str += '<li>' +
                            '    <span></span>' +
                            '    <div class="left user_circle_img"><a href="javascript:void(0);"><img' +
                            '                    src="' + item.userData.userImg + '" alt=""></a></div>' +
                            '    <div class="right reply_con">' +
                            '        <div class="reply_user">' +
                            '            <span>' + item.userData.name + '</span>' +
                            '            <span>' + moment(item.createTime).format("YYYY-MM-DD HH:MM:SS") + '</span>' +
                            '        </div>' +
                            '        <div class="comment_con">' + newStr + '</div>' +
                            '    </div>' +
                            '</li>';
                    }
                });
                $('.reply_list ul').html(str);
            },
            error: function (err) {
                console.log(err)
            }
        });
    }


</script>
</html>