<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/public.css">
    <link rel="stylesheet" href="/css/pace-theme-minimal.css">
    <link rel="stylesheet" href="/css/pc/header_footer.css">
    <link rel="stylesheet" href="/css/pc/sidebar.css">
    <link rel="stylesheet" href="/css/prism.css">
    <link rel="stylesheet" href="/css/pc/noteDetail.css">
    <title><%= Data.title %></title>
</head>
<body>
<!--header-->
<% include ./header.ejs %>
<div style="height: 70px;background: transparent;"></div>
<!--content-->
<div class="content">
    <div class="content_con">
        <!--left content-->
        <div class="con_left left">
            <div class="con_left_wrap">
                <div class="notes_title">
                    <h1><%= Data.title %></h1>
                    <ul>
                        <li><span>作者：</span><a href="javascript:void(0);"><%= Data.author.name %></a></li>
                        <li><span>时间：<%= Data.createTime %></span></li>
                        <li><span>浏览：<%= Data.pageView %>次</span></li>
                        <li><span>评论：</span><a href="javascript:void(0);"><%= Data.replyData %></a></li>
                    </ul>
                </div>
                <div class="notes_des"><%= Data.description %></div>
                <div class="notes_con">
                    <div style="padding: 200px 0;text-align: center;"><img src="/img/pc/loading.gif" alt=""><br><span>加载中. . . </span>
                    </div>
                </div>
                <% if(Data.tag.length > 0){ %>
                <div class="detail_tag_list">
                    <% Data.tag.forEach(function (item, index) { %>
                    <a href="/notes?search=<%= item %>"><%= item %></a>
                    <% }) %>
                </div>
                <% } %>
            </div>
            <ul class="up_next">
                <li><span>上一篇：</span><a href="javascript:void(0);">13</a></li>
                <li><span>下一篇：</span><a href="javascript:void(0);">798</a></li>
            </ul>
            <div class="likes">
                <p>猜你喜欢</p>
                <div class="likes_con">
                    <a href="javascript:void(0);">
                        <div><img src="http://192.168.0.115:30001/static/upload/notes/1535982059267.png" alt=""></div>
                        <span>只要是你喜欢的</span>
                    </a>
                    <a href="javascript:void(0);">
                        <div><img src="http://192.168.0.115:30001/static/upload/notes/1535982059267.png" alt=""></div>
                        <span>只要是你喜欢的</span>
                    </a>
                    <a href="javascript:void(0);">
                        <div><img src="http://192.168.0.115:30001/static/upload/notes/1535982059267.png" alt=""></div>
                        <span>只要是你喜欢的</span>
                    </a>
                </div>
            </div>
        </div>
        <!--sidebar-->
        <% include ./sidebar.ejs %>
    </div>
</div>
<% include ./footer.ejs %>
</body>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/pace.min.js"></script>
<script type="text/javascript" src="/js/prism.js"></script>
<script src="/js/clipboard.min.js"></script>
<script type="text/javascript" src="/js/pc/listening.js"></script>
<script type="text/javascript">
    var notesCon = '<%- content %>';
    var result = notesCon.substring(1, notesCon.length - 1);
    insertCodeElement(result, '.con_left .notes_con')

    function insertCodeElement(content, container) {
        container = container || document;
        var parent = document.createElement('div');
        parent.innerHTML = content;

        var $pres = $(parent).find('pre');
        $pres.each(function (index, el) {
            var $el = $(el),
                html = $el.html(),
                code = document.createElement('code'),
                elClass = $el.attr('class'),
                // Gets all the programming languages in the pre tag, in the class attribute
                language = elClass.substring(6, elClass.indexOf(';'));
            code.className = 'language-' + language;
            code.innerHTML = html;
            $el.html(code);
            $el.addClass("line-numbers");
        });

        $(container).html(parent.innerHTML);
        // Use prism for code highlighting
        Prism.highlightAll();
        $('.code-toolbar').append('<span class="copy_code">复制</span>'); // Add copy function
    }

    $('.code-toolbar .copy_code').click(function () {
        var _this = this;
        var clipboard = new ClipboardJS('.copy_code', {
            target: function () {
                return _this.parentElement.querySelector('code'); // Copy element text
            }
        });

        clipboard.on('success', function (e) {
            $(_this).text('复制成功');
            //Tip: this is a pit. You need to manually destroy the current clipboard. Otherwise, two events will be triggered
            clipboard.destroy();
            setTimeout(function () {
                $(_this).text('复制');
            }, 6000)
        });

        clipboard.on('error', function (e) {
            console.log(e);
            clipboard.destroy();
        });
    });
</script>
</html>