<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/public.css">
    <link rel="stylesheet" href="/css/pace-theme-minimal.css">
    <link rel="stylesheet" href="/css/pc/header_footer.css">
    <link rel="stylesheet" href="/css/pc/sidebar.css">
    <link rel="stylesheet" href="/css/pc/font-awesome.min.css">
    <link rel="stylesheet" href="/css/pc/notesList.css">
    <title>落雨如画博客-临渊羡鱼，不如退而结网！</title>
</head>
<body>
<!--header-->
<% include ./header.ejs %>
<div style="height: 70px;background: transparent;"></div>
<!--content-->
<div class="content">
    <div class="content_con">
        <div class="con_left left">
            <div class="notes_num">全部<b><%= count %></b>篇</div>
            <!--notes list-->
            <div class="notes">
                <% Datas.forEach((item, index)=>{ %>
                <div class="notes_item">
                    <div class="thumb_img left"><img src="<%= item.thumbImg %>" alt=""></div>
                    <div class="notes_con right">
                        <a href="/notes/<%= item.id %>" target="_blank">
                            <b><%= item.title %></b>
                            <p><%= item.description %></p>
                        </a>
                        <div class="tags">
                            <span class="create_time left"><%= item.createTime %></span>
                            <span class="author_icon left" title="作者"><%= item.author.name %></span>
                            <span class="page_view left" title="浏览">(<a
                                        href="javascript:void(0)"><%= item.pageView %></a>)</span>
                            <span class="reply_num left" title="评论">(<a href="javascript:void(0)"><span
                                            style="padding-left: 0px;margin-right: 0px;"><%= item.replyData %></span></a>)</span>
                            <span class="lm right"><a href="javascript:void(0)"><%= item.category %></a></span>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
            <ul class="pagination">
                <li><a href="#" class="prev">&laquo</a></li>
                <li><a href="#" class="active">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
                <li><a href="#">8</a></li>
                <li><a href="#">9</a></li>
                <li><a href="#" class="next">&raquo;</a></li>
            </ul>
        </div>
        <!--sidebar-->
        <% include ./sidebar.ejs %>
    </div>
</div>
<% include ./footer.ejs %>
</body>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/pace.min.js"></script>
<script type="text/javascript" src="/js/pc/listening.js"></script>
<script type="text/javascript">
    console.log('<%= count %>')
    console.log('<%= pageSize %>')
    console.log('<%= showCount %>')
    console.log('<%= currentPage %>')
    console.log('<%= search %>')
</script>
</html>