<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/public.css">
    <link rel="stylesheet" href="/css/pace-theme-minimal.css">
    <link rel="stylesheet" href="/css/pc/header_footer.css">
    <link rel="stylesheet" href="/css/pc/showreel.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <title>落雨如画博客-临渊羡鱼，不如退而结网！</title>
</head>
<body>
<!--header-->
<% include ./header.ejs %>
<div style="height: 70px;background: transparent;"></div>
<!--content-->
<div class="content">
    <div class="content_con">
        <div class="showreel_num">全部<b><%= count %></b>篇</div>
        <div class="showreel_list">
            <% Datas.forEach(function (item, index) { %>
            <div class="showreel_item">
                <a href="<%= pagePath %>/<%= item.id %>" target="_blank"><img
                            src="<%= item.thumbImg %>" alt=""></a>
                <p><%= item.category %> - <%= item.title %></p>
                <ul>
                    <li class="left"><%= item.createTime %></li>
                    <li class="right"><%= item.pageView %></li>
                </ul>
            </div>
            <% }) %>
        </div>
        <!--paging 分页-->
        <% include ./paging.ejs %>
    </div>
</div>
<% include ./footer.ejs %>
</body>
<script type="text/javascript" src="/js/pace.min.js"></script>
<script type="text/javascript" src="/js/pc/listening.js"></script>
<script type="text/javascript">
</script>
</html>