<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/public.css">
    <link rel="stylesheet" href="/css/pace-theme-minimal.css">
    <link rel="stylesheet" href="/css/pc/header_footer.css">
    <link rel="stylesheet" href="/css/pc/sidebar.css">
    <link rel="stylesheet" href="/css/pc/showreelList.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <title>落雨如画博客-临渊羡鱼，不如退而结网！</title>
</head>
<body>
<!--header-->
<% include ./header.ejs %>
<div style="height: 70px;background: transparent;"></div>
<!--content-->
<div class="content">
    <div class="content_con">
        <div class="con_left left">
            <% if (search) { %>
            <div class="showreel_num">全部<b><%= count; %></b>篇<span>关键词：<%= search %></span></div>
            <% }else { %>
            <div class="showreel_num">全部<b><%= count; %></b>篇</div>
            <% } %>
            <!--showreel list-->
            <div class="showreel">
                <% if(Datas.length > 0){ %>
                <% Datas.forEach((item, index)=>{ %>
                <% var replyNum = 0; %>
                <% if(item.replyData.length > 0){ %>
                <% for(var i = 0;i < item.replyData.length;i++){ %>
                <% replyNum += item.replyData[i].replyData.length %>
                <% } %>
                <% } %>
                <div class="showreel_item">
                    <div class="thumb_img left"><img src="<%= item.thumbImg %>" alt=""></div>
                    <div class="notes_con right">
                        <a href="/showreel/<%= item.id %>" target="_blank">
                            <b><%= item.title %></b>
                        </a>
                        <div class="tags">
                            <span class="create_time left"><%= item.createTime %></span>
                            <span class="author_icon left" title="作者">落雨如画</span>
                            <span class="page_view left" title="浏览">(<a
                                        href="javascript:void(0)"><%= item.pageView %></a>)</span>
                            <span class="reply_num left" title="评论">(<a href="javascript:void(0)"><span
                                            style="padding-left: 0px;margin-right: 0px;"><%= replyNum %></span></a>)</span>
                            <span class="lm right"><a href="javascript:void(0)"><%= item.category %></a></span>
                        </div>
                    </div>
                </div>
                <% }) %>
                <% }else{ %>
                <div class="find_null">
                    <img src="/img/pc/404.png" alt="">
                </div>
                <% } %>
            </div>
            <!--paging 分页-->
            <% include ./paging.ejs %>
        </div>
        <div class="con_right right">
            <!--search-->
            <div class="mini_search public_side_wrap">
                <p class="public_title">站内搜索</p>
                <div class="search_in public_padding">
                    <div class="search_in_con">
                        <input type="text" class="left" id="keywords" value="" title="" placeholder="请输入作品名称" required>
                        <i class="right" onclick="searchKeyword();"></i>
                    </div>
                </div>
            </div>
            <!--user center-->
            <div class="user_center public_side_wrap">
                <p class="public_title">用户中心</p>
                <div class="user_form">
                    <% if(locals.username){ %>
                    <div class="login_suc">
                        <span onclick="window.location.href='/userExit'">退出</span>
                        <a href="javascipt:void(0);" title="<%= locals.username.name %>">
                            <img src="<%= locals.username.userImg %>" alt="">
                            <span><%= locals.username.name %></span>
                        </a>
                        <% if(locals.username.signature){ %>
                        <p>“<%= locals.username.signature %>”</p>
                        <% }else{ %>
                        <p>“这个家伙很懒，什么都没留下！”</p>
                        <% } %>
                    </div>
                    <% }else{ %>
                    <div class="not_login">
                        <p><a href="/login">登录</a>或<a href="/register">注册</a>后可参与留言和评论</p>
                    </div>
                    <% } %>
                </div>
            </div>
            <!--page_views-->
            <div class="new_information public_side_wrap page_views">
                <p class="public_title">点击排行</p>
                <ul>
                    <% PageView.forEach(function (item, index) { %>
                    <li>
                        <div class="inform_img left">
                            <img src="<%= item.thumbImg %>" alt="">
                        </div>
                        <div class="inform_right right">
                            <a href="/showreel/<%= item.id %>" target="_blank"><%= item.title %></a>
                            <div class="inform_des">
                                <span><%= item.createTime %></span>
                                <span>浏览：<%= item.pageView %></span>
                            </div>
                        </div>
                    </li>
                    <% }) %>
                </ul>
            </div>
            <!--new reply-->
            <div class="public_side_wrap new_reply">
                <p class="public_title">最新评论</p>
                <div class="new_reply_con">
                    <% sideBarData.newReply.forEach(function (item, index) { %>
                    <div class="reply_item">
                        <div class="reply_img left">
                            <img src="<%= item.userImg %>" alt="">
                        </div>
                        <div class="right">
                            <div class="replyer">
                                <span><%= item.userName %></span>
                                <span><%= item.createTime %></span>
                            </div>
                            <a href="<%= item.url %>#comment"><i></i><%= item.content %></a>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
            <!--friend_link-->
            <div class="friend_link public_side_wrap">
                <div class="friend_link_title">
                    <p>友情链接</p>
                    <a href="javascript:void(0);">申请</a>
                </div>
                <ul class="friend_link_list public_padding">
                    <li><a href="javascript:void(0);">nodejs</a></li>
                    <li><a href="javascript:void(0);">jquery</a></li>
                    <li><a href="javascript:void(0);">javascript</a></li>
                    <li><a href="javascript:void(0);">nodejs</a></li>
                    <li><a href="javascript:void(0);">jquery</a></li>
                    <li><a href="javascript:void(0);">javascript</a></li>
                    <li><a href="javascript:void(0);">nodejs</a></li>
                    <li><a href="javascript:void(0);">jquery</a></li>
                    <li><a href="javascript:void(0);">javascript</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<% include ./footer.ejs %>
</body>
<script type="text/javascript" src="/js/pace.min.js"></script>
<script type="text/javascript" src="/js/pc/listening.js"></script>
<script type="text/javascript">
    var searchInput = document.getElementById('keywords');

    searchInput.onkeyup = function (e) {
        if (!e) e = window.event;
        if ((e.keyCode || e.which) == 13) {
            searchKeyword();
        }
    }

    function searchKeyword() {
        var searchCon = document.getElementById('keywords').value;
        if (searchCon) {
            window.location.href = '/showreelList?search=' + encodeURI(searchCon);
        } else {
            alert('搜索内容不能为空，亲！');
        }
    }
</script>
</html>