<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/public.css">
    <link rel="stylesheet" href="/css/pc/sinaFaceAndEffec.css">
    <link rel="stylesheet" href="/css/pace-theme-minimal.css">
    <link rel="stylesheet" href="/css/pc/header_footer.css">
    <link rel="stylesheet" href="/css/pc/sidebar.css">
    <link rel="stylesheet" href="/css/pc/showreelDetail.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <title>落雨如画博客-临渊羡鱼，不如退而结网！</title>
</head>
<body>
<!--header-->
<% include ./header.ejs %>
<div style="height: 70px;background: transparent;"></div>
<!--content-->
<div class="content">
    <div class="content_con">
        <div class="con_left left">
            <div class="showreel">
                <h2><%= Data.title %></h2>
                <div class="showreel_con">
                    <%- Data.content %>
                </div>
                <% if(Data.tecTag.length > 0){ %>
                <div class="detail_tag_list">
                    <% Data.tecTag.forEach(function (item, index) { %>
                    <a href="javascript:void(0);"
                       onclick="window.location.href='/showreel?search='+encodeURI('<%= item %>')"><%= item %></a>
                    <% }) %>
                </div>
                <% } %>
            </div>
            <ul class="up_next">
                <% if(preData.length > 0){ %>
                <li><span>上一篇：</span><a href="/showreel/<%= preData[0]._id %>"><%= preData[0].title %></a></li>
                <% }else{ %>
                <li><span>上一篇：</span><a href="javascript:void(0);" style="color: #759b08;">没有了</a></li>
                <% } %>
                <% if(nextData.length > 0){ %>
                <li><span>下一篇：</span><a href="/showreel/<%= nextData[0]._id %>"><%= nextData[0].title %></a></li>
                <% }else{ %>
                <li><span>下一篇：</span><a href="javascript:void(0);" style="color: #759b08;">没有了</a></li>
                <% } %>
            </ul>
            <% if(likesData.length > 0){ %>
            <div class="likes">
                <p>猜你喜欢</p>
                <div class="likes_con">
                    <% likesData.forEach(function (item, index) { %>
                    <a href="/showreel/<%= item._id %>" target="_blank">
                        <div><img src="<%= item.thumbImg %>" alt=""></div>
                        <span><%= item.title %></span>
                    </a>
                    <% }) %>
                </div>
            </div>
            <% } %>
            <div class="reply_title" id="comment">
                <% if(replyNum.length > 0){ %>
                <span class="left">共有<b><%= replyNum[0].replyNumber %></b>条评论</span>
                <% }else{ %>
                <span class="left">共有<b>0</b>条评论</span>
                <% } %>
                <a href="javascript:void(0);" class="right" onclick="replyComment(null,null,null);">发布评论</a>
            </div>
            <div class="reply_list">
                <ul></ul>
            </div>
            <div class="comment_wrap">
                <div class="comment">
                    <div class="content">
                        <div class="cont-box">
                            <textarea class="text" placeholder="请输入 . . ." maxlength="2000" required=""></textarea>
                        </div>
                        <div class="tools-box">
                            <div class="operator-box-btn"><span class="face-icon">☺</span><span
                                        class="img-icon">▧</span></div>

                            <% if(locals.username){ %>
                            <div class="submit-btn"><input type="button" onclick="submitComment()"
                                                           value="提交评论">
                            </div>
                            <% }else { %>
                            <div class="submit-btn"><input type="button" value="登录"
                                                           onclick="window.location.href='/login'"></div>
                            <% } %>

                        </div>
                    </div>
                    <div class="contents"></div>
                </div>
            </div>
        </div>
        <div class="con_right right">
            <!--overview-->
            <div class="overview">
                <div class="overview_img"><img src="<%= Data.thumbImg %>" alt=""></div>
                <p class="overview_des"><%= Data.title %></p>
                <ul>
                    <li><b>
                            <%= Data.pageView %>
                        </b>
                        <p>浏览</p></li>
                    <% if(replyNum.length > 0){ %>
                    <li><b><%= replyNum[0].replyNumber %></b>
                        <p>评论</p></li>
                    <% }else { %>
                    <li><b>0</b>
                        <p>评论</p></li>
                    <% } %>

                    <li><b><%= showreelCount %></b>
                        <p>作品数</p></li>
                </ul>
                <% if(Data.showreelUrl){ %>
                <a href="<%= Data.showreelUrl %>" target="_blank">打开链接</a>
                <% } %>
            </div>
            <!--search-->
            <div class="mini_search public_side_wrap">
                <p class="public_title">站内搜索</p>
                <div class="search_in public_padding">
                    <div class="search_in_con">
                        <input type="text" class="left" id="keywords" value="" title="" placeholder="请输入作品名称" required>
                        <i class="right" onclick="searchKeyword();"></i>
                    </div>
                </div>
            </div>
            <!--page_views-->
            <% if(pageViewSort.length > 0){ %>
            <div class="new_information public_side_wrap page_views">
                <p class="public_title">点击排行</p>
                <ul>
                    <% pageViewSort.forEach(function (item, index) { %>
                    <li>
                        <div class="inform_img left">
                            <img src="<%= item.thumbImg %>" alt="">
                        </div>
                        <div class="inform_right right">
                            <a href="/showreel/<%= item.id %>" target="_blank"><%= item.title %></a>
                            <div class="inform_des">
                                <span><%= item.createTime %></span>
                                <span>浏览：<%= item.pageView %></span>
                            </div>
                        </div>
                    </li>
                    <% }) %>
                </ul>
            </div>
            <% } %>
            <!--friend_link-->
            <div class="friend_link public_side_wrap">
                <div class="friend_link_title">
                    <p>友情链接</p>
                    <a href="javascript:void(0);">申请</a>
                </div>
                <ul class="friend_link_list public_padding">
                    <li><a href="javascript:void(0);">nodejs</a></li>
                    <li><a href="javascript:void(0);">jquery</a></li>
                    <li><a href="javascript:void(0);">javascript</a></li>
                    <li><a href="javascript:void(0);">nodejs</a></li>
                    <li><a href="javascript:void(0);">jquery</a></li>
                    <li><a href="javascript:void(0);">javascript</a></li>
                    <li><a href="javascript:void(0);">nodejs</a></li>
                    <li><a href="javascript:void(0);">jquery</a></li>
                    <li><a href="javascript:void(0);">javascript</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<% include ./footer.ejs %>
</body>
<script type="text/javascript" src="/js/pace.min.js"></script>
<script type="text/javascript" src="/js/pc/listening.js"></script>
<script src="/js/pc/comment.js"></script>
<script src="/js/pc/sinaFaceAndEffec.js"></script>
<script src="/js/moment.js"></script>
<script src="/js/pc/img_browser.js"></script>
<script type="text/javascript">
    var page = 1;
    var parentReviewer = '';
    // bind face
    $('.face-icon').SinaEmotion($('.text'));

    // 测试本地解析
    var replyItemId = null;
    var replyfromId = null;
    window.onload = function () {
        loadComment();
        PostbirdImgGlass.init({
            domSelector: ".showreel_con p img",
            animation: true
        });
    }

    function replyComment(commentId, fromId, userName) {
        replyItemId = commentId;
        replyfromId = fromId;
        <% if(locals.username){ %>
            $('.text').focus();
            if (userName && userName != $('.login_suc a span').text()) {
                $('.text').attr('placeholder', '回复@' + userName);
            } else {
                $('.text').val('').attr('placeholder', '请输入 . . .');
            }
        <% }else{ %>
            window.location.href = '/login';
        <% } %>
    }

    function submitComment() {
        var inputText = $('.text').val();
        if (jQuery.trim(inputText).length < 10) {
            alert('骚年，多写点吧！');
        } else {
            $.ajax({
                url: '/addComment?Status=1',
                type: 'POST',
                data: {
                    articleId: '<%= Data.id %>',
                    replyId: replyItemId,
                    fromReviewerId: replyfromId,
                    content: inputText
                },
                success: function (data) {
                    replyItemId = null;
                    replyfromId = null;
                    $('.text').val('').attr('placeholder', '请输入 . . .');
                    loadComment();
                },
                error: function (err) {
                    console.log(err)
                }
            });
        }
    }

    function loadComment() {
        $.ajax({
            url: '/getComment?Status=1',
            type: 'GET',
            data: {
                id: '<%= Data.id %>',
                page: page
            },
            success: function (data) {
                var str = '';
                var Data = data.Data;
                if (Data) {
                    Data.forEach(function (item, indx) {
                        if (item.replyData.length == 1) {
                            var newStr = '<p>' + AnalyticEmotion(item.replyData[0].content) + '</p>';
                            str += '<li>' +
                                '    <span></span>' +
                                '    <div class="left user_circle_img"><a href="javascript:void(0);"><img' +
                                '                    src="' + item.userData.userImg + '" alt=""></a></div>' +
                                '    <div class="right reply_con">' +
                                '        <div class="reply_user">' +
                                '            <span title="@' + item.userData.name + '" onclick="replyComment(' + "'" + item._id + "'" + ',' + "'" + item.userData._id + "'" + ',' + "'" + item.userData.name + "'" + ')">' + item.userData.name + '</span>' +
                                '            <span>' + moment(item.replyData[0].createTime).format("YYYY-MM-DD HH:mm:ss") + '</span>' +
                                '        </div>' +
                                '        <div class="comment_con">' + newStr + '</div>' +
                                '    </div>' +
                                '</li>';
                        } else {
                            var strItem = '';
                            for (var i = 1; i < item.replyData.length; i++) {
                                strItem += '<li>' +
                                    '    <span></span>' +
                                    '    <div class="left user_circle_img"><a href="javascript:void(0);"><img' +
                                    '                    src="' + item.replyData[i].to.userImg + '" alt=""></a>' +
                                    '    </div>' +
                                    '    <div class="right reply_con">' +
                                    '        <div class="reply_user">' +
                                    '            <span title="@' + item.replyData[i].to.name + '" onclick="replyComment(' + "'" + item._id + "'" + ',' + "'" + item.replyData[i].to._id + "'" + ',' + "'" + item.replyData[i].to.name + "'" + ')">' + item.replyData[i].to.name + '</span>' +
                                    '            <span>' + moment(item.replyData[i].createTime).format("YYYY-MM-DD HH:mm:ss") + '</span>' +
                                    '             <span>回复</span>' +
                                    '             <span title="@' + item.replyData[i].from.name + '" onclick="replyComment(' + "'" + item._id + "'" + ',' + "'" + item.replyData[i].from._id + "'" + ',' + "'" + item.replyData[i].from.name + "'" + ')">@' + item.replyData[i].from.name + '</span>' +
                                    '         </div>' +
                                    '         <div class="comment_con">' +
                                    '             <p>' + AnalyticEmotion(item.replyData[i].content) + '</p>' +
                                    '         </div>' +
                                    '     </div>' +
                                    ' </li>';
                            }
                            str += '<li>' +
                                '    <span></span>' +
                                '    <div class="left user_circle_img"><a href="javascript:void(0);"><img' +
                                '                    src="' + item.userData.userImg + '" alt=""></a></div>' +
                                '    <div class="right reply_con">' +
                                '        <div class="reply_user">' +
                                '            <span title="@' + item.userData.name + '" onclick="replyComment(' + "'" + item._id + "'" + ',' + "'" + item.userData._id + "'" + ',' + "'" + item.userData.name + "'" + ')">' + item.userData.name + '</span>' +
                                '            <span>' + moment(item.replyData[0].createTime).format("YYYY-MM-DD HH:mm:ss") + '</span>' +
                                '        </div>' +
                                '        <div class="comment_con">' +
                                '            <p>' + AnalyticEmotion(item.replyData[0].content) + '</p>' +
                                '        </div>' +
                                '        <ul>' + strItem + '</ul>' +
                                '    </div>' +
                                '</li>';
                        }
                    });
                    $('.reply_list ul').html(str);
                }
            },
            error: function (err) {
                console.log(err)
            }
        });
    }

    var searchInput = document.getElementById('keywords');

    searchInput.onkeyup = function (e) {
        if (!e) e = window.event;
        if ((e.keyCode || e.which) == 13) {
            searchKeyword();
        }
    }

    function searchKeyword() {
        var searchCon = document.getElementById('keywords').value;
        if (searchCon) {
            window.location.href = '/showreelList?search=' + encodeURI(searchCon);
        } else {
            alert('搜索内容不能为空，亲！');
        }
    }
</script>
</html>