<div class="con_right right">
    <!--search-->
    <div class="mini_search public_side_wrap">
        <p class="public_title">站内搜索</p>
        <div class="search_in public_padding">
            <div class="search_in_con">
                <input type="text" class="left" id="keywords" value="" title="" placeholder="请输入随笔关键字" required
                       onkeyup="keyNum();">
                <i class="right" onclick="searchKeyword();"></i>
            </div>
        </div>
    </div>
    <!--music-->
    <div class="mini_music" style="margin-bottom: 20px;">音乐盒子</div>
    <!--user center-->
    <div class="user_center public_side_wrap">
        <p class="public_title">用户中心</p>
        <div class="user_form">
            <% if(locals.username){ %>
            <div class="login_suc">
                <span onclick="window.location.href='/userExit'">退出</span>
                <a href="javascipt:void(0);" title="<%= locals.username.name %>">
                    <img src="<%= locals.username.userImg %>" alt="">
                    <span><%= locals.username.name %></span>
                </a>
                <% if(locals.username.signature){ %>
                <p>“<%= locals.username.signature %>”</p>
                <% }else{ %>
                <p>“这个家伙很懒，什么都没留下！”</p>
                <% } %>
            </div>
            <% }else{ %>
            <div class="not_login">
                <p><a href="/login">登录</a>或<a href="/register">注册</a>后可参与留言和评论</p>
            </div>
            <% } %>
        </div>
    </div>
    <!--new notes-->
    <div class="new_information public_side_wrap">
        <p class="public_title">最新随笔</p>
        <ul>
            <% sideBarData.timeSortData.forEach(function(item, index){ %>
            <li>
                <div class="inform_img left">
                    <img src="<%= item.thumbImg %>" alt="">
                </div>
                <div class="inform_right right">
                    <a href="/notes/<%= item.id %>" target="_blank"><%= item.title %></a>
                    <div class="inform_des">
                        <span><%= item.createTime %></span>
                        <span>作者：<%= item.author.name %></span>
                    </div>
                </div>
            </li>
            <% }) %>
        </ul>
    </div>
    <!--new reply-->
    <div class="public_side_wrap new_reply">
        <p class="public_title">最新评论</p>
        <div class="new_reply_con">
            <% sideBarData.newReply.forEach(function (item, index) { %>
            <div class="reply_item">
                <div class="reply_img left">
                    <img src="<%= item.userImg %>" alt="">
                </div>
                <div class="right">
                    <div class="replyer">
                        <span><%= item.userName %></span>
                        <span><%= item.createTime %></span>
                    </div>
                    <a href="<%= item.url %>#comment"><i></i><%= item.content %></a>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
    <!--page_views-->
    <div class="new_information public_side_wrap page_views">
        <p class="public_title">点击排行</p>
        <ul>
            <% sideBarData.pageViewData.forEach(function (item, index) { %>
            <li>
                <div class="inform_img left">
                    <img src="<%= item.thumbImg %>" alt="">
                </div>
                <div class="inform_right right">
                    <a href="/notes/<%= item.id %>" target="_blank"><%= item.title %></a>
                    <div class="inform_des">
                        <span><%= item.createTime %></span>
                        <span>浏览：<%= item.pageView %></span>
                    </div>
                </div>
            </li>
            <% }) %>
        </ul>
    </div>
    <!--tag wrap-->
    <div class="tag_list public_side_wrap">
        <p class="public_title">标签云</p>
        <ul class="tag_wrap public_padding">
            <% sideBarData.tagData.forEach(function (item, index) { %>
            <li><a href="javascript:void(0);"
                   onclick="window.location.href='/notes?search='+encodeURI('<%= item %>')"><%= item %></a>
            </li>
            <% }) %>
        </ul>
    </div>
    <!--friend_link-->
    <div class="friend_link public_side_wrap">
        <div class="friend_link_title">
            <p>友情链接</p>
            <a href="javascript:void(0);">申请</a>
        </div>
        <ul class="friend_link_list public_padding">
            <li><a href="javascript:void(0);">nodejs</a></li>
            <li><a href="javascript:void(0);">jquery</a></li>
            <li><a href="javascript:void(0);">javascript</a></li>
            <li><a href="javascript:void(0);">nodejs</a></li>
            <li><a href="javascript:void(0);">jquery</a></li>
            <li><a href="javascript:void(0);">javascript</a></li>
            <li><a href="javascript:void(0);">nodejs</a></li>
            <li><a href="javascript:void(0);">jquery</a></li>
            <li><a href="javascript:void(0);">javascript</a></li>
        </ul>
    </div>
</div>
<script type="text/javascript">
    var searchInput = document.getElementById('keywords');

    searchInput.onkeyup = function (e) {
        if (!e) e = window.event;
        if ((e.keyCode || e.which) == 13) {
            searchKeyword();
        }
    }

    function searchKeyword() {
        var searchCon = document.getElementById('keywords').value;
        if (searchCon) {
            window.location.href = '/notes?search=' + encodeURI(searchCon);
        } else {
            alert('搜索内容不能为空，亲！');
        }
    }


</script>